footer.bg-dark.text-white.pt-4.pb-4.mt-5
  .container
    .row
      .col-md-4
        ul.list-unstyled
          li
            a.text-white(href="/blogs") Blogs
          li
            a.text-white(href="/medicine") Medicine
          li
            a.text-white(href="/overview") Book Appoitments
          li
            a.text-white(href="/contact") Contact Us

      .col-md-4
        h5 Contact Information
        p
          | Address: 123 Health St, Wellness City, 12345
        p
          | Phone: (123) 456-7890
        p
          | Email: info@myhealth.com

      .col-md-4
        h5 Follow Us
        ul.list-inline
          li.list-inline-item
            a.text-white(href="https://www.facebook.com") 
              i.fab.fa-facebook.fa-2x
          li.list-inline-item
            a.text-white(href="https://www.twitter.com") 
              i.fab.fa-twitter.fa-2x
          li.list-inline-item
            a.text-white(href="https://www.instagram.com") 
              i.fab.fa-instagram.fa-2x
          li.list-inline-item
            a.text-white(href="https://www.linkedin.com") 
              i.fab.fa-linkedin.fa-2x
    .text-center.mt-4
      p &copy; 2024 MyHealth. All Rights Reserved.
